.equipment__head-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.equipment__body-row {
  display: flex;
  flex-direction: row;
}

.equipment__boots-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.equipment__ready-button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #553f3e;
  border-style: dashed;
  border-width: 2px;
  border-color: #5B2B21;
}
