:host {
  display: block;
}

.equipment__head-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.equipment__body-row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;

  > * {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.equipment__boots-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
