<!--<munchkin-card-move-overlay></munchkin-card-move-overlay>-->

<div class="workspace">
  <div class="workspace__top">
    <munchkin-opponent-workspace></munchkin-opponent-workspace>
    <munchkin-opponent-workspace></munchkin-opponent-workspace>
    <munchkin-opponent-workspace></munchkin-opponent-workspace>
  </div>

  <div class="workspace__mid">
    <munchkin-opponent-workspace></munchkin-opponent-workspace>
    <munchkin-card-packs></munchkin-card-packs>
    <munchkin-opponent-workspace></munchkin-opponent-workspace>
  </div>


  <div class="workspace__bottom">
    <munchkin-my-deck #deckComponent></munchkin-my-deck>
  </div>
</div>
