<div class="workspace" *ngIf="game$ | async">
  <div class="workspace__top">
    <munchkin-opponent-workspace></munchkin-opponent-workspace>
    <munchkin-opponent-workspace></munchkin-opponent-workspace>
    <munchkin-opponent-workspace></munchkin-opponent-workspace>
  </div>

  <div class="workspace__mid">
    <munchkin-opponent-workspace></munchkin-opponent-workspace>
    <munchkin-card-packs></munchkin-card-packs>
    <munchkin-opponent-workspace></munchkin-opponent-workspace>
  </div>


  <div class="workspace__bottom">
    <munchkin-my-deck class="workspace__bottom-my-deck"></munchkin-my-deck>
    <munchkin-equipment></munchkin-equipment>
  </div>
</div>
