:host {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #f39d80;
}

.workspace {
  display: flex;
  flex-direction: column;
  height: 100%;

  > * {
    flex-grow: 1;
  }
}

.workspace__top {
  display: flex;
  flex-direction: row;

  > * {
    flex-grow: 1;
  }
}

.workspace__bottom {
  height: 33%;
  display: flex;
  flex-direction: row;
}

.workspace__bottom-my-deck {
  flex-grow: 1;
}

.workspace__mid {
  display: flex;
  flex-direction: row;

  > * {
    flex-grow: 1;
  }
}
