<ng-container *ngIf="game$ | async">
  <div class="workspace__top">
    <munchkin-opponent-workspace></munchkin-opponent-workspace>
    <munchkin-opponent-workspace></munchkin-opponent-workspace>
    <munchkin-opponent-workspace></munchkin-opponent-workspace>
  </div>

  <div class="workspace__mid">
    <munchkin-opponent-workspace></munchkin-opponent-workspace>
    <div>
      <munchkin-card-packs></munchkin-card-packs>
      <munchkin-battle-board></munchkin-battle-board>
    </div>
    <munchkin-opponent-workspace></munchkin-opponent-workspace>
  </div>


  <div class="workspace__bottom">
    <munchkin-equipment class="workspace__equipment"></munchkin-equipment>

    <div style="display: flex; flex-direction: column">
      <div style="flex-grow: 1">
        <munchkin-approve-ready-state></munchkin-approve-ready-state>
      </div>
      <munchkin-my-deck class="workspace__bottom-my-deck"></munchkin-my-deck>
    </div>
  </div>

  <munchkin-status-bar></munchkin-status-bar>
</ng-container>
