:host {
  display: block;
  width: 100vw;
  height: 100vh;
  user-select: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.workspace__top {
  flex-grow: 1;
  display: flex;
  flex-direction: row;

  > * {
    flex-grow: 1;
  }
}

.workspace__mid {
  flex-grow: 1;
  display: flex;
  flex-direction: row;

  > * {
    flex-grow: 1;
  }
}

.workspace__equipment {
  margin: 10px;
}

.workspace__bottom {
  display: flex;
  flex-direction: row;
}

.workspace__bottom-my-deck {
  margin: 10px;
}
