<div [id]="equipmentType"
     cdkDropList
     cdkDropListOrientation="horizontal"
     [cdkDropListConnectedTo]="linkedDndPoints$ | async"
     (cdkDropListDropped)="handleDrop($event)"
     class="equipment"
     [class._not-selected]="item$ | async | negate">
  <munchkin-card class="equipment__item"
                 *ngIf="item$ | async"
                 cdkDrag
                 [cdkDragData]="dropData$ | async"
                 [cardId]="item$ | async"></munchkin-card>

  <div class="equipment__icon">
    <img class="equipment__icon-image"
         [src]="equipmentIcon">
  </div>
</div>
