@import "apps/munchkin/src/common";

:host {
  @extend .card-base-size;

  display: block;

  &:hover {
    transition: transform 350ms cubic-bezier(0, 0, 0.2, 1);
    transform: scale(1.1);
  }
}

.card {
  @extend .card-base;

  width: 100%;
  height: 100%;
  border-color: #5B2B21;
  border-width: 5px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  background-color: #EBB479;

  &._shirt-mode {
    background-color: #a04f2f;
  }
}

.card__shit-icon {
  width: 100%;
}

.card__shit {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
